*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html > body > #__nuxt > #__layout {
  overflow: hidden;
}

html > body > #__nuxt > #__layout > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  height: auto;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #404468;
  min-height: -webkit-fill-available;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #404468;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Suez One', Arial, sans-serif;
}

h1 {
  font-size: 24px;
  line-height:36px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

a.nuxt-link-active[href]:not([href="/"]) {
  @apply font-bold;
}