.step-indicator {
  position: relative;
}

.step-indicator[data-name]::after {
  content: attr(data-name);
  position: absolute;
  color: #404468;
  bottom: -1.5rem;
  font-size: 11px;
  line-height: 15px;
  font-family: 'Suez One', Arial, sans-serif;
  width: max-content;
  opacity: .4;
}

.step-indicator--active[data-name]::after {
  opacity: 1;
}

.step-indicator--active figure svg path {
  opacity: 1;
}